microservice-chart:
  namespace: "bizevents"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-biz-events-service
    tag: "0.1.34"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  serviceMonitor:
    create: true
    endpoints:
      - interval: 10s #jmx-exporter
        targetPort: 12345
        path: /metrics
  ports:
    - 8080
  service:
    type: ClusterIP
    ports:
      - 8080 #http
      - 12345 #jmx-exporter
  ingress:
    create: true
    host: "weudev.bizevents.internal.dev.platform.pagopa.it"
    path: /pagopa-biz-events-service/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "384Mi"
      cpu: "300m"
    limits:
      memory: "512Mi"
      cpu: "400m"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 1
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  envConfig:
    WEBSITE_SITE_NAME: 'pagopabizeventsservice' # required to show cloud role name in application insights
    COSMOS_DB_URI: 'https://pagopa-d-weu-bizevents-ds-cosmos-account.documents.azure.com:443/'
    COSMOS_DB_NAME: 'db'
    COSMOS_DB_CONTAINER_NAME: 'biz-events'
    COSMOS_DB_VIEW_USER_CONTAINER_NAME: 'biz-events-view-user'
    COSMOS_DB_VIEW_GENERAL_CONTAINER_NAME: 'biz-events-view-general'
    COSMOS_DB_VIEW_CART_CONTAINER_NAME: 'biz-events-view-cart'
    COSMOS_QUERY_METRICS: 'false'
    PDF_RECEIPT_HOST: 'https://api.dev.platform.pagopa.it/receipts/service/v1'
    PDF_GENERATE_RECEIPT_HOST: 'https://api.dev.platform.pagopa.it/receipts/helpdesk/v1'
    PDF_GENERATE_RECEIPT_PATH: '/receipts/{event-id}/regenerate-receipt-pdf'
    GET_PDF_RETRY_MAX_DELAY: "10000"
    GET_PDF_RETRY_MAX_ATTEMPTS: "1"
    GENERATE_PDF_RETRY_MAX_DELAY: "10000"
    GENERATE_PDF_RETRY_MAX_ATTEMPTS: "1"
    CONNECTION_TIMEOUT: "10000"
    OTEL_SERVICE_NAME: "pagopabizeventsservice"
    OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopareceiptspdfserviceotl,deployment.environment=dev"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_LOGS_EXPORTER: none
    OTEL_TRACES_SAMPLER: "always_on"
  envFieldRef:
    APP_NAME: "metadata.labels['app.kubernetes.io/instance']"
    APP_VERSION: "metadata.labels['app.kubernetes.io/version']"
  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-d-connection-string'
    COSMOS_DB_PRIMARY_KEY: 'cosmos-d-biz-key'
    PDF_RECEIPT_SUBSCRIPTION_KEY: "bizevent-d-receiptpdfservice-subscription-key"
    PDF_GENERATE_RECEIPT_SUBSCRIPTION_KEY: "bizevent-d-generatepdfservice-subscription-key"
    OTEL_EXPORTER_OTLP_HEADERS: 'elastic-otl-secret-token'
  keyvault:
    name: "pagopa-d-bizevents-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - "user"
  canaryDelivery:
    deployment:
      image:
        tag: 0.0.10
    create: false
